

:root {
  --bg-color: #000;
  --fg-color: #222; 
  --focus-color: yellow; 
  --text-color: white; 
  --border-color: #555;

  --icon-color: #636363;
  --icon-vibrant-color: #b05555;

  --card-shadow: none;
  --card-border: 1px solid #444; 
}

@media only screen and (min-width: 1000px) {
  #body {
    display: grid;
    justify-content: center;
  }
}

body {
  font-family: "Segoe UI", "Avenir", Courier, monospace;;
  font-size: 14px; 

  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}


* {
  box-sizing: border-box;
}

select, button, input[type="text"] {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid var(--border-color); 
  padding: 5px; 
}

button:focus, input[type="text"]:focus, input[type="text"]:focus {
  border: 1px solid var(--focus-color);
  outline: none;
}

select:focus {
  outline: none;
}

svg {
  vertical-align: middle;
}

button {
  cursor: pointer; 
}

button.icon {
  border: none;
}

a, a:visited {
  color: var(--focus-color); 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.card {
  padding: 10px;
  border: 1px solid var(--border-color);
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

body {
  display: grid;
  justify-content: center;
}

#Wrapper {
  margin: 0px;
  width: 1100px;
  margin-top: 40px;
}

.section {
  background-color: var(--fg-color);
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: var(--card-shadow);
}

.section > h2 {
  margin-top: 0;
}

.section:first-child > #rules > div {
  margin-bottom: 10px;
  display: grid; 
  grid-template-columns: max-content max-content 300px max-content 1fr max-content;
  align-items: center;
  border: 1px solid var(--border-color);
  padding: 10px; 
  column-gap: 10px;

  .values {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
  }
}

.section:nth-child(2) button {
  margin-top: 20px
}

